<div class="page-header">
    <h1>Vendas
    <small>
    <i class="ace-icon fa fa-angle-double-right"></i> Editar venda</small>
    </h1>
</div>

<%= render 'form', venda: @venda %>

<%= link_to 'Show', @venda %> |
<%= link_to 'Back', vendas_path %>
